textColorBlack = #2c3e50
indigo = #5C6BC0
orangeRed = #F8684A
amber = #F8CF4A
blueGreen = #00d1be
emrald = #4FA417
tabMenuWid = 160px
borderRadius = 4px
boxShadow1 = rgba(0, 0, 0, .1) 0 4px 12px
boxShadow2 = rgba(0, 0, 0, .25) 0 3px 6px
phaseDotSize = 18px
tagRadius = 30px
loaderSize = 34px
/* rocket svg */
orbitColor = #E2D306
esllipseColor = #554E6C