.rocket
	.rocket_svg__fire
		fill: #FFFFFF

	.rocket_svg__body
		fill: #FFFFFF

	.rocket_svg__ellipse
		fill: transparent
		stroke: esllipseColor
		stroke-width: 10px

	.rocket_svg__orbit
		fill: orbitColor

	.rocket_svg__star
		fill: #5C6BC0