.tab_container
	button
		cursor: pointer
		font-size: 12px
		padding: .5em

		&:focus
			box-shadow: none !important

		&:active
			background-color: transparent

	.tab_label
		color: textColorBlack
		padding: 0 1em

	[aria-selected=true]
		color: indigo !important
		font-weight: bold