/* table */
.starliner_table
	overflow: auto
	width: inherit

.striped_table>table>tbody>tr:nth-child(4n + 3)
	background-color: lighten(indigo, 88%)

.sub_table
	table
		background-color: rgba(indigo, .02)
		border-left: 1px solid #eee
		border-right: 1px solid #eee
		overflow: auto

.multi_select [class*=control]
	border-color: inherit !important

table
	background-color: #FFF

	th
		color: #AAA

.download-table
	td
		white-space: nowrap

.cell_nowrap
	white-space: nowrap